{{ partial "header.html" . }}

{{ if .Title }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ if (gt .Params.date 0) }}
    <span>
        <span class="date"> 📅 {{ .Date.Format "2006-01-02" }}</span>
        {{ if (ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02")) }}
        <span class="date"> (更新于{{ .Lastmod.Format "2006-01-02" }})</span>
        {{ end }}
        /
        <!-- <span>{{.WordCount}} words</span> | -->
        <span class="cats"> 📚
            {{ range $index, $cat := .GetTerms "categories" }}
            {{ if $index }} / {{ end }}
            <a href='{{ .Permalink }}'>{{ .LinkTitle }}</a>
            {{ end }}
        </span>
        {{ if len (.GetTerms "tags") }}
        /
        <span class="tags"> 🏷️
            {{ range $index, $cat := .GetTerms "tags" }}
            <a href='{{ .Permalink }}'>#{{ .LinkTitle }}</a>
            {{ end }}
        </span>
        {{ end }}
    </span>
    <br>
    {{ end }}
</div>
{{ end }}

<main>
    {{ .Content }}
</main>

{{ partial "comments.html" . }}
{{ partial "footer.html" . }}